@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

h1 {
  font-size: 40px;
  line-height: 70px;
  margin-bottom: 10px;
  text-align: left; /* Center the text horizontally */
  /*font-family: 'Ubuntu', sans-serif;*/
  font-weight: 700;
  color: #5a62be;
}

h2 {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 10px;
  text-align: left;
  color: #7e7f83;
  font-weight: 400;
}

h3{
  font-size: 22px;
  margin-bottom: 10px;
  text-align: left;
  /*font-weight: 500;*/
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 10px;
  text-align: left; /* Center the text horizontally */
  color: black;
}

p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 10px;
  text-align: left; /* Center the text horizontally */
  color: black;
}


body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
  
nav {
  position: fixed;
  top: 0px; /* Adjust the top position as needed */
  background-color: white;
  overflow: hidden;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: calc(100% - 60px); /* Adjust the width to keep the original layout */
  z-index: 1000;
}

.left-section {
  float: left;
}

.right-section {
  float: right;
}

nav a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #5a62be; /* default color for non-bold links */
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
  
nav a:hover {
  color: black;
  text-decoration: underline;
}
  
nav a.home.current,
nav a.about.current,
nav a.resume.current {
  color: black; /* color for the current bold link */
  font-weight: 500; /* font weight for the current bold link */
}

a {
  color: #5c62ad; /* You can replace this with the color you want */
}

a:hover{
  color: black; /* You can replace this with the color you want */
}


#portfolio {
  color: black;
  font-weight: 500; 
}


.work-image {
  max-width: 100%;
  border-radius: 15px 15px 0 0; /* Apply border-radius only to the top corners */
  border-radius: 15px;
}


footer {
  background-color: #C1E0EF;
  text-align: center;
  padding: 30px;
  margin-top: 100px; 
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-container {
  display: flex;
  align-items: center;
  transition: transform 0.2s ease-in;
}

.email-container:hover {
  /*transform: translateY(-5px);*/
  transform: scale(1.1);
}

.copy-symbol {
  cursor: pointer;
  margin-right: 5px;
}

#copyIcon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.social-icons {
  display: flex;
  gap: 15px;
}


.social-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease-in;
}

.social-icons img:hover {
  /*transform: translateY(-5px);*/
  transform: scale(1.2);
}

.career-container {
  margin: auto;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  box-sizing: border-box;
}

.career-content {
  padding: 20px;
}








.project-container {
  padding: 20px;
  box-sizing: border-box;
}


.project-title {
  display: flex;
  margin-top: 50px;
}

.project-problem {
  display: flex;
  flex-direction: row; /* Keep items in a row on regular screens */
}

.project-left-cell {
  max-width: 50%; /* Adjust width for regular screens */
  height: 600px;

}

.project-right-cell {
  max-width: 50%; /* Adjust width for regular screens */
  height: auto;
}

.project-right-cell h3{
  font-weight: 700;
}

.project-right-cell-content {
 padding-left: 30px;;
}



.overview-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; /* Adjust the gap between grid items */
  margin: auto;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  box-sizing: border-box;
}
/*
.overview-grid h3{
  font-weight: 700;
}*/

.case-study-container{
  margin: auto;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  box-sizing: border-box;
}

.case-study-video {
  position: relative;
  overflow: hidden;
}

.case-study-video iframe {
  max-width: 100%;
}


.list li{
  margin-bottom: 1em;
}

.unordered-list li{
  margin-bottom: 1em;
}

.tests-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px; /* Adjust the gap between grid items */
  margin: auto;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  box-sizing: border-box;
}

.tests-grid h3{
  text-align: center;
}

.tests-grid .testA {
  background-color: #c1e0ef; /* Set the background color for Pros */
  border-radius: 30px;
  padding: 15px;
}

.tests-grid .testB {
  background-color: #c1e0ef; /* Set the background color for Pros */
  border-radius: 30px;
  padding: 15px;
}

.pro-con-grid h3{
  text-align: center;
}
.pro-con-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px; /* Adjust the gap between grid items */
  margin: auto;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  box-sizing: border-box;
}

.analysis-box{
  /*background-color: #e3b7c8; Set the background color */
  margin-top: 40px;
}

.analysis-box #pros {
  background-color: #d5f0ad; /* Set the background color for Pros */
  border-radius: 30px;
  padding: 15px;
}

.analysis-box #cons {
  background-color: #ffd3d6; /* Set the background color for Cons */
  border-radius: 30px;
  padding: 15px;
}

.themes-grid{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 20px; /* Adjust the gap between grid items */
  margin: auto;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  box-sizing: border-box;
}

.themes-grid .unordered-list {
  background-color: #c1e0ef; /* Set the background color */
  border-radius: 30px; 
  padding: 15px;
}

.themes-grid h3{
  text-align: center;
}

.back-to-home {
  text-align: center;
  margin: 20px 0; /* Adjust the margin as needed */
}

.back-to-home-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5c62ad;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  font-size: 16px;
  transition: transform 0.2s ease-in;
}

.back-to-home-button:hover {
  color: white;
  /*transform: translateY(-5px);*/
  transform: scale(1.1);
}


/* Media query for smaller screens */
@media (max-width: 768px) {

    .right-section {
    float: none; /* Remove float property */
    display: flex;
    justify-content: center; /* Center items horizontally in the right-section */
    align-items: center; /* Vertically align if necessary */
    width: 100%; /* Ensure it spans the full width */
  }
  
  .project-title {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: left;
  }

  .project-problem {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .project-left-cell,
  .project-right-cell {
    max-width: 100%; /* Adjust width for smaller screens */
    height: auto;
  }

  .project-right-cell-content {
    padding-left: 0px;;
   }

  .right-cell img {
    max-width: 100%;
  }

  .overview-grid {
    grid-template-columns: repeat(2, 2fr);
  }

  .themes-grid{
    grid-template-columns: repeat(2, 3fr);
  }
}

@media (max-width: 600px) {
  .overview-grid {
    grid-template-columns: repeat(1, 4fr);
  }
  
  .pro-con-grid {
    grid-template-columns: repeat(1, 2fr);
  }

  .themes-grid{
    grid-template-columns: repeat(1, 6fr);
  }

  nav #portfolio {
    display: none;
  }
}

