@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

h1 {
  font-size: 40px;
  line-height: 70px;
  margin-bottom: 10px;
  text-align: left; /* Center the text horizontally */
  /*font-family: 'Ubuntu', sans-serif;*/
  font-weight: 700;
  color: #5a62be;
}

h2 {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 10px;
  text-align: left;
  color: #7e7f83;
  font-weight: 400;
}

h3{
  font-size: 22px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 10px;
  text-align: left; /* Center the text horizontally */
  color: black;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  padding-top: 100px; 
}


nav {
  position: fixed;
  top: 0px;
  background-color: white;
  overflow: hidden;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: calc(100% - 60px);
  z-index: 1000;
}

.left-section {
  float: left;
}

#left-cell h1{
  /*animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;*/
  animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) .25s both;
}

#left-cell p{
  /*animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;*/
  animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}





@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}




.right-section {
  float: right;
}

nav a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #5a62be; /* default color for non-bold links */
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
  
nav a:hover {
  color: black;
  text-decoration: underline;
}
  
nav a.home.current,
nav a.about.current,
nav a.resume.current {
  color: black; /* color for the current bold link */
  font-weight: 500; /* font weight for the current bold link */
}

#portfolio {
  color: black;
}


.intro-container {
    display: flex;
    margin: auto;
    width: 100%; /* Make it take full width of the screen */
    max-width: 1000px; /* Set a max-width for larger screens */
    padding: 20px;
    box-sizing: border-box;
}

.intro-container h3{
  margin-bottom: -15px;
}

.left-cell {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}
  
.right-cell {
  flex: 1; /* Takes up 1 part of the flex container */
  padding: 20px; /* Adjust padding as needed */
  height: 600px;
  justify-content: center;
}
  
.right-cell img {
  max-width: 90%;
  height: auto;
  display: block; /* Ensure the image is a block element */
  margin: 0 auto;
  border-radius: 15px;
}

#about-photo {
  margin-top: 30px;
}



.selected-works {
  padding: 40px;
  max-width: 1000px;
  margin: auto;
  box-sizing: border-box;
}


.selected-works-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: auto;
  width: 100%; 
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}
/*
.selected-works-item {
  overflow: hidden;
  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}*/

.selected-works-item {
  overflow: hidden;
  display: flex; /* Use flexbox to align items horizontally */
  margin-bottom: 50px;
  margin-top: 50px;
  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.work-image {
  max-width: 70%;
  border-radius: 15px 15px 0 0; /* Apply border-radius only to the top corners */
  border-radius: 15px;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.selected-work-item-details{
  flex: 1;
  text-align: left;
}

.selected-works h2 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px;
  cursor: pointer;
}


.selected-work-item-details h2:hover{
  text-decoration: underline;
}



@media (max-width: 768px) {
  .intro-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    justify-content: center;
    width: auto;
  }

  .about-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    justify-content: center;
    width: auto;
  }

  .right-cell {
    order: -1; /* Move the .right-cell to the top in the stacked layout */
    max-width: 100%;
    height: auto;
    align-items: center;
  }

  .right-cell img {
    display: block; /* Ensure the image is a block element */
    margin: 0 auto; /* Center the image horizontally within the .right-cell */
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    height: auto;
  }

  .selected-works h1 {
    text-align: left; /* Align text to the left on smaller screens */
  }

  .selected-works h2 {
    text-align: left; /* Align text to the left on smaller screens */
  }

  .selected-works h3 {
    text-align: left; /* Align text to the left on smaller screens */
  }

  .selected-works-container {
    grid-template-columns: 1fr; /* Change to a 1 x 1 grid for smaller screens */
  }

  .selected-works-item {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .selected-works-item .work-image{
    max-width: 100%; /* Stack items vertically on smaller screens */
  }
}


.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  max-width: 1000px;
  margin: 0 auto;
}

.dish-photo {
  width: 100%;
  height: auto;
  border-radius: 15px; /* Rounded corners */
  transition: transform 0.3s ease-in-out;
}

.dish-photo:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

/* Media Query for responsive grid on smaller screens */
@media (max-width: 768px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr; /* 2 columns for smaller screens */
  }
}

@media (max-width: 480px) {
  .photo-grid {
    grid-template-columns: 1fr; /* 1 column for very small screens */
  }
}


footer {
  background-color: #5c62ad;
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 100px; 
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-container {
  display: flex;
  align-items: center;
  transition: transform 0.2s ease-in;
}

.email-container:hover {
  /*transform: translateY(-5px);*/
  transform: scale(1.1);
}

.copy-symbol {
  cursor: pointer;
  margin-right: 5px;
}

#copyIcon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease-in;
  filter: brightness(0) invert(1);
}

.social-icons img:hover {
  /*transform: translateY(-5px);*/
  transform: scale(1.2);
}

.career-container {
  margin: auto;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  box-sizing: border-box;
}



.career-content {
  padding: 20px;
}

.experience-content {
  display: flex;
  align-items: center; /* Vertically align items */
  padding: 20px;
}

.position-container {
  display: flex;
  gap: 20px; /* Spacing between logo and details */
}

.logo {
  display: flex;
  align-items: center; /* Center the logo vertically */
  justify-content: center; /* Optional: Horizontal centering */
}

.logo img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.position-details {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.position-details p{
  margin: 0px;
}

.project-container {
  padding: 20px; /* Add padding to the project-container */
}

.project-title {
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

.project-title h1{
  color: black;
  margin-bottom: -10px;
}

.project-title h2 {
  margin-bottom: 20px;
}

.involvemint-button {
  background-color: #5a62be;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  position: absolute;
  top: 100px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
}

.project-problem {
  display: flex;
  flex-direction: row; /* Keep items in a row on regular screens */
}

.project-left-cell {
  max-width: 50%; /* Adjust width for regular screens */
  height: auto;
}

.project-right-cell {
  max-width: 50%; /* Adjust width for regular screens */
  height: auto;
}

.project-right-cell h3{
  font-weight: 700;
}

.project-right-cell-content {
 padding-left: 30px;;
}

/* Media query for smaller screens */
@media (max-width: 768px) {

  .right-section {
    float: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .project-title {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center;
  }

  .project-problem {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .project-left-cell,
  .project-right-cell {
    max-width: 100%; /* Adjust width for smaller screens */
    height: auto;
  }

  .project-right-cell-content {
    padding-left: 0px;;
   }

    .left-cell {
    order: 0; /* Ensure the right cell (illustration) is below the left cell */
  }

  .right-cell {
    order: 1; /* Ensure the right cell (illustration) is below the left cell */
    margin-top: 20px; /* Optional: Space between description and image */
  }

  .right-cell img {
    max-width: 100%; /* Ensure the image doesn’t exceed its container width */
    height: auto; /* Maintain aspect ratio */
  }

  .blue-button {
    margin-bottom: 30px;
  }

  nav #portfolio {
    display: none;
  }

  .logo img {
    height: 60px;
    width: 60px;
    object-fit: contain;
  }
}
